@page
@model ContactModel
@{
    ViewData["Title"] = "联系我们吧！";
}
<h2>@ViewData["Title"]</h2>
<hr>
<h6>@Model.Message</h6>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">

    <!-- Start of Baidu Transcode -->
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta http-equiv="Cache-Control" content="no-transform" />
    <meta name="applicable-device" content="pc,mobile">
    <meta name="MobileOptimized" content="width" />
    <meta name="HandheldFriendly" content="true" />
    <!-- End of Baidu Transcode -->


    <meta name="360-site-verification" content="604a14b53c6b871206001285921e81d8" />
    <meta property="wb:webmaster" content="294ec9de89e7fadb" />
    <meta property="qc:admins" content="104102651453316562112116375" />
    <meta property="qc:admins" content="11635613706305617" />
    <meta property="qc:admins" content="1163561616621163056375" />
    <meta name="google-site-verification" content="cV4-qkUJZR6gmFeajx_UyPe47GW9vY6cnCrYtCHYNh4" />
    <meta name="google-site-verification" content="HF7lfF8YEGs1qtCE-kPml8Z469e2RHhGajy6JPVy5XI" />
    <meta http-equiv="mobile-agent" content="format=html5; url=https://www.jianshu.com/contact">

    <!-- Apple -->
    <meta name="apple-mobile-web-app-title" content="知识图谱">



    <title>联系我们 - 知识图谱</title>

    <meta name="csrf-param" content="authenticity_token" />
    <meta name="csrf-token" content="cmepY5JK9reTyM6rjeBavukvJow28VpYrh03Ed+sLvlCi1FtmWTDqwHnSIuy+4UzdtibWyV6OYN3rbnKTmM8gg==" />

    <link rel="stylesheet" media="all" href="//cdn2.jianshu.io/assets/web-4d59548b691b7b5c11d8.css" />

    <link rel="stylesheet" media="all" href="//cdn2.jianshu.io/assets/web/pages/collections/new/entry-17942fc22d752c041b3e.css" />

    <link href="//cdn2.jianshu.io/assets/favicons/favicon-e743bfb1821442341c3ab15bdbe804f7ad97676bd07a770ccc9483473aa76f06.ico" rel="shortcut icon" type="image/x-icon">
    <link rel="apple-touch-icon-precomposed" href="//cdn2.jianshu.io/assets/apple-touch-icons/57-a6f1f1ee62ace44f6dc2f6a08575abd3c3b163288881c78dd8d75247682a4b27.png" sizes="57x57" />
    <link rel="apple-touch-icon-precomposed" href="//cdn2.jianshu.io/assets/apple-touch-icons/72-fb9834bcfce738fd7b9c5e31363e79443e09a81a8e931170b58bc815387c1562.png" sizes="72x72" />
    <link rel="apple-touch-icon-precomposed" href="//cdn2.jianshu.io/assets/apple-touch-icons/76-49d88e539ff2489475d603994988d871219141ecaa0b1a7a9a1914f4fe3182d6.png" sizes="76x76" />
    <link rel="apple-touch-icon-precomposed" href="//cdn2.jianshu.io/assets/apple-touch-icons/114-24252fe693524ed3a9d0905e49bff3cbd0228f25a320aa09053c2ebb4955de97.png" sizes="114x114" />
    <link rel="apple-touch-icon-precomposed" href="//cdn2.jianshu.io/assets/apple-touch-icons/120-1bb7371f5e87f93ce780a5f1a05ff1b176828ee0d1d130e768575918a2e05834.png" sizes="120x120" />
    <link rel="apple-touch-icon-precomposed" href="//cdn2.jianshu.io/assets/apple-touch-icons/152-bf209460fc1c17bfd3e2b84c8e758bc11ca3e570fd411c3bbd84149b97453b99.png" sizes="152x152" />

    <!-- Start of 访问统计 -->
    <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "//hm.baidu.com/hm.js?0c0e9d9b1e7d617b3e6842e85b9fb068";
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
    })();
    </script>

    <!-- End of 访问统计 -->
</head>

<!-- 只给10%的用户添加代码 -->
<!-- ###第四范式-智能推荐：代码直接复制 无需修改参数### -->
<!-- ###功能：上报内容并反馈用户行为### -->
<!--
-->
<body lang="zh-CN" class="reader-black-font">



    <a href="/">
        <img class="feedback-page-logo" alt="回到首页" />
    </a><div class="container new-collection">
        <div class="row">
            <div class="col-xs-18 col-xs-offset-3 main">
                <h3>关于知识图谱</h3>
                <h6>知识图谱是一个优质的学习软件，“帮助您更好的学习”，是知识图谱的信仰。</h6>
                <h6>我们相信，每个人都是天才，如果您成绩差，您差的可能只是学习方法，来知识图谱学习吧！给您全新的学习体验！</h6>
                <h6>知识图谱将给您不一样的学习体验</h6>
                <h6>知识图谱是一个开放而友好的学习网页，每个人都可以在这里自由地学习。</h6>
                <br></br>
                <h3>联系我们</h3>
                <h5>广告投放合作：</h5>
                <h6>电子邮件：123@zhishitupu.com</h6>
                <!-- <h6>电话：138-1687-2799</h6> -->
                <h6>固定电话：123-45678 （请根据语音提示操作，仅支持公对公业务沟通）</h6>
                <hr>
                <h5>市场推广、品牌合作：</h5>
                <h6>电子邮件：</h6>
                <h6>固定电话：123-456789 （请根据语音提示操作，仅支持公对公业务沟通）</h6>
                <hr>
                <h5>技术类合作：</h5>
                <h6>电子邮件：</h6>
                <h6>（备注：暂不接受电话受理渠道）</h6>

                <hr>
                <h5>人事沟通：</h5>
                <h6>电子邮件：</h6>
                <h6>固定电话：123-45678 （请根据语音提示操作，仅支持公对公业务沟通）</h6>
                <hr>
                <h5>成绩和知识点咨询：</h5>
                <h6>电子邮件：help@jianshu.com</h6>
                <h6>处理周期：3-5 个工作日（不包括周六日及法定节假日）</h6>
                <h6>联络电话：此类业务不接受电话咨询与处理，电子邮件为唯一指定沟通路径。</h6>
                <h6>文章锁定咨询：请将被锁定的文章链接及具体申诉需求，发送至help@jianshu.com进行咨询。</h6>
                <h6>封号事务咨询：请先仔细阅读文章《账号冻结通知》，仍有疑问的，请于 60 天内，将具体申诉需求配合简书账号、用户名称、所绑定手机号码，发送至 help@jianshu.com 进行咨询。</h6>
                <hr>
                <h5>其它事务：</h5>
                <h6>电子邮件：</h6>
                <h6>固定电话：1234567 （请根据语音提示操作，仅支持公对公业务沟通）</h6>
                <h6>如你需要更多帮助，请前往<a href='/about'>帮助</a>页面，或电子邮件：contact@jianshu.com</h6>
            </div>
        </div>
    </div>
</body>