@page
@model WebApplication1.Pages.DistributeModel
@{
    ViewData["Title"] = "Distribute";
}

<link rel="stylesheet" href="~/Content/myCSS.css" />

<div class="dropdown">
    <span>Mouse over me</span>
    <div class="dropdown-content">
        <p>Hello World!</p>
    </div>
</div>

