@page
@model WebApplication1.Pages.KnowledgeModel
@{
    ViewData["Title"] = "Knowledge";
}


<div class="list_">
    <h1 style="align-content:center">科目</h1>
    <ul>
        <li style="height: 35px;font-size:28px;"><a herf="#">语文</a></li>
        <li style="height: 35px;font-size:28px;"><a herf="#">数学</a></li>
        <li style="height: 35px;font-size:28px;"><a herf="#">英语</a></li>
        <li style="height: 35px;font-size:28px;"><a herf="#">物理</a></li>
        <li style="height: 35px;font-size:28px;"><a herf="#">化学</a></li>
        <li style="height: 35px;font-size:28px;"><a herf="#">生物</a></li>
        <li style="height: 35px;font-size:28px;"><a herf="#">政治</a></li>
        <li style="height: 35px;font-size:28px;"><a herf="#">历史</a></li>
        <li style="height: 35px;font-size:28px;"><a herf="#">地理</a></li>

    </ul>
</div>
<div class="part2">
    <h1>part2</h1>

</div>
<style>

    .list_ {
        position: absolute;
        width: 220px;
        height: auto;
        background-color: azure;
    }

    .part2 {
        left: 420px;
        width: auto;
        height: 100%;
        position: absolute;
    }
</style>

