@page
@model WebApplication1.Pages.LoginModel
@{
    ViewData["Title"] = "Login";
}

<link rel="stylesheet" href="~/css/Login.css" />

<div class="container">
    <h3 class="title">登陆</h3>
    <div class="group">
        <label class="lab">账号</label>
        <input placeholder="请输入账号">
    </div>
    <div class="group">
        <label class="lab">密码</label>
        <input placeholder="请输入密码" type="password">
    </div>
    <div>
        <input type="button" value="确认" onclick="" />
    </div>

</div>

