/* 下拉按钮样式 */
.white {
    height: 10px;
    width: 100%;
}
.dropbtn {
    background-color: #0094ff;
    color: white;
    font-size: 20px;
    border: none;
    cursor: pointer;
    display: inline;
    padding: 5px 8px;
    border: 1px solid #ddd;
    right:50px;
}

/* 容器 <div> - 需要定位下拉内容 */
.dropdown {
    position: relative;
    display: inline-block;
}

/* 下拉内容 (默认隐藏) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index:1;
}


/* 下拉菜单的链接 */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* 鼠标移上去后修改下拉菜单链接颜色 */
.dropdown-content a:hover {
    background-color: #f1f1f1
}

/* 在鼠标移上去后显示下拉菜单 */
.dropdown:hover .dropdown-content {
    display: block;
}

/* 当下拉内容显示后修改下拉按钮的背景颜色 */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
.search{
    height:30px;
    padding:8px 6px;
    box-sizing:border-box;
    font-size:16px;
    display:inline;
}
.searchsubmit {
    width: 60px;
    height: 30px;
    padding: 1px 3px;
    color: #0094ff;
    font-size: 16px;
    margin-left: 5px;
}
.BaiduMap {
    height: 600px;
    width: 100%;
    margin: 0px;
    padding: 0px;
    z-index: 0;
}
.hotmap {
    width: 130px;
    height: 30px;
    padding: 1px 3px;
    color: #0094ff;
    font-size: 16px;
    cursor: pointer;
    overflow: visible;
    margin-left: 2px;
}